<div class="container">
  <form action="/shorten/submit" method="post">
    <div class="row g-3">
      <div class="col-sm-9 mx-auto">
        <input type="url" name="url" class="form-control mt-2" placeholder="Import URL Here">
      </div>
    </div>
    <button class="btn btn-outline-primary btn-lg mt-3 px-5" type="submit">Shorten</button>
  </form>
</div>