<div class="container">
  <div class="mb-3 mt-3">
    <h5 class="mt-4">Success! Please use this link:</h5>
    <h5><a href="{{originalURL}}" class="mt-2 mb-4">{{shortURL}}</a></h5>
  </div>
  <div class="mb-3 mt-4">
    <a href="/"><button class="btn btn-secondary me-2">back</button></a>
    <button type="button" class="btn btn-primary">Copy</button>
  </div>
</div>