<div class="container">
  <div class="mb-3 mt-3">
    <h5 class="mt-4">Success! Please use this link:</h5>
    <h5>
      <a href="http://{{shortURL}}" class="mt-2 mb-4">
        <!-- 為什麼這裡需要加上http:// 才有辦法導連到外部網站呢? -->
        <input class="text-primary" style="border: none" type="text" id="url" value="{{shortURL}}" disabled>
      </a>
    </h5>
  </div>
  <div class="mb-3 mt-4">
    <a href="/"><button class="btn btn-secondary me-2">back</button></a>
    <button type="button" class="btn btn-primary" onclick="copyToClipBoard()">Copy</button>
  </div>
</div>

<!-- 參考教學後，使用clipboard API來完成複製功能 -->
<script>
  function copyToClipBoard() {
    const url = document.querySelector('#url')
    url.select()
    navigator.clipboard.writeText(url.value);
    alert("You have alreadt copied:" + url.value)
  }
</script>